.report-list .report-slide {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.report-list .card {
  margin: 0 auto;
}

.report-list .card-img-top {
  max-width: 100%;
}
.slick-track {
  overflow: hidden;
}